{% extends 'base.html.twig' %}

{% block title %}New Galaxie{% endblock %}

{% block body %}
    <h1>Create new Galaxie</h1>

    {{ include('galaxie/_form.html.twig') }}

    <a href="{{ path('galaxie_index') }}"><button type="button" class="btn btn-primary">back to list</button></a>
{% endblock %}
